:root{
  --type-first: "Inter", sans-serif;
  --type-second: 'Spectral', Georgia;

  --color-accent: #fb1;

  --color-secundary: #764701;
  --color-tertiary: #fea;

  --color-neutral-01: #fff;
  --color-neutral-01: #eee;

  --color-feedback-error: #f46;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p{
  margin: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

button, input{
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

body{
  color: #333;
  font-family: var(--type-first);
}

.container{
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 1rem;
}