@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Spectral:wght@700&display=swap');

:root{
  --type-first: "Inter", sans-serif;
  --type-second: 'Spectral', georgia;

  --color-accent: #fb1;

  --color-secundary: #764701;
  --color-tertiary: #fea;

  --color-neutral-0: #fff;
  --color-neutral-01: #eee;
  --color-neutral-03: #333;


  --color-neutral-06: #666;

  --color-feedback-error: #f46;
  --color-feedback-status: #3a8be7;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p{
  margin: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--color-neutral-03);
}

img{
  display: block;
  max-width: 100%;
}

button, input{
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

body{
  color: #333;
  font-family: var(--type-first);
}

.container{
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 1rem;
}