button{
  padding:  0.5rem 2rem;
  font-family: var(--type-first);
  font-size: 1rem;
  border-radius: 0.5rem;
  background: var(--color-accent);
  color: var(--color-secundary);
  cursor: pointer;
  transition: 0.2s;
}

button:hover,
button:focus{
  outline: solid 2px var(--color-tertiary)
}

button:disabled{
  opacity: 0.5;
  cursor: wait
}